<!DOCTYPE html>
<html>
<head>
    <title>Basics of ASL</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>SignBridge</h1>
        </div>
        <div class="main-content">
            <h2>Welcome to the Basics of ASL Quiz!</h2>
            <p>Test your knowledge of ASL letters and improve your skills.</p>
            <a href="/quiz">
                <button class="start-quiz-btn">Start Quiz</button>
            </a>
            
        </div>
    </div>
</body>
</html>
